/* universal css  */
:root {
  --primary-color: #001f3f;
  --second-color: #2e8b67;
}
@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");
* {
  font-family: "Mulish", sans-serif;
  margin: 0px;
  padding: 0px;
}
header {
  margin-bottom: 0px;
}
/*                 nav css */
nav {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 0px;
}
.nav-tittle {
  display: flex;
  align-items: center;
}
.nav-tittle > img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.nav-tittle > p {
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 800;
}
.haven {
  color: var(--second-color);
}
.nav-info li {
  list-style: none;
}
.nav-info a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  font-weight: 700;
}
.nav-info .anchor-home {
  color: var(--second-color);
}
.information {
  width: 500px;
  display: flex;
  justify-content: space-between;
}
/* Banner Section  */
.banner {
  max-width: 1400px;
  height: 500px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(B9A2-Hero-Travel-main/Images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0px;
  border-radius: 16px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner-tittle {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-description {
  width: 676px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 48px;
}
.finder {
  width: 832px;
  height: 84px;
  margin-top: 0px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
}
.finder > form {
  display: inline;
}
.destination {
  margin-left: 16px;
}
.destination,
.when,
.select-type {
  width: 174px;
  height: 52px;
  border: 0px;
  border-radius: 8px;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
  margin-right: 30px;
  margin-top: 16px;
}
.primary-button {
  width: 174px;
  height: 53px;
  border: 0px;
  border-radius: 8px;
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  padding: 16px;
}
.primary-button span {
  margin-left: 5px;
}
/* Main Section Start  */
main {
  margin-top: 100px;
}
.our-popular-tours {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}
.tour-text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.tours {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 800;
}
.tour-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400px;
}
.popular-tours {
  margin-left: 18px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
.maldive-1,
.bangladesh-2,
.kashmir-3 {
  font-size: 20px;
  font-weight: 800;
  color: var(--primary-color);
}
.first {
  margin-bottom: 0px;
}
.second {
  margin-top: 16px;
  margin-bottom: 0px;
}
.third {
  margin-top: 16px;
  margin-bottom: 0px;
}
.our-popular-tours-description {
  margin-top: 24px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.tour-image-section > img {
  max-width: 540px;
  max-height: 550px;
}
/* Destination Section Start  */
.choose-destination {
  margin: auto;
  margin-top: 100px;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.destination-tittle {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.destination-description {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  font-weight: 400;
}
/* Destination-img Section  */
.destination-img {
  margin: auto;
  margin-top: 50px;
  max-width: 1200px;
  margin-bottom: 100px;
}
.div-1,
.div-2,
.div-3 {
  max-width: 1200px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}
.div-1,
.div-2,
.div-3 div {
  text-align: center;
}
.div-1,
.div-2,
.div-3 div > p {
  color: #fff;
  font-size: 28px;
  font-weight: 800px;
}
.div-1 div > p {
  padding: 140px;
}
.div-2 div > p {
  padding: 140px;
}
.div-2 .kashmir > p {
  padding: 125px 80px;
}
.div-3 div > p {
  padding: 140px;
}
.maldive {
  width: 50%;
  background-image: url(B9A2-Hero-Travel-main/Images/Rectangle\ 5.png);
  background-repeat: no-repeat;
  width: 573px;
  height: 300px;
}
.indonesia {
  /* width: 50%; */
  width: 573px;
  height: 300px;
  background-image: url(B9A2-Hero-Travel-main/Images/indonasia.png);
}
.srilanka {
  width: 374px;
  height: 286px;
  background-image: url(B9A2-Hero-Travel-main/Images/srilanka.png);
}
.north-america {
  width: 474px;
  height: 286px;
  background-image: url(B9A2-Hero-Travel-main/Images/america.png);
}
.kashmir {
  width: 274px;
  height: 286px;
  background-image: url(B9A2-Hero-Travel-main/Images/kashmir.png);
  background-repeat: no-repeat;
}
.bangladesh {
  width: 473px;
  height: 300px;
  background-image: url(B9A2-Hero-Travel-main/Images/bangladesh.png);
}
.bandarban {
  width: 673px;
  height: 300px;
  background-image: url(B9A2-Hero-Travel-main/Images/bandarban.png);
}
/* Why Choose Us Section  */
.why-us {
  margin-top: 0px;
  margin-bottom: 0px;
}
.why-us-tittle {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}
.why-us-description {
  width: 643px;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  margin: auto;
  margin-top: 0px;
}
.why-us-card-1 {
  max-width: 1400px;
  margin: auto;
  margin-top: 48px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.card-1 {
  border: 1px solid black;
  width: 50%;
  height: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card-2 {
  border: 1px solid black;
  width: 50%;
  height: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
.card-icons img {
  width: 64px;
  height: 64px;
}
.card-icons {
  margin-bottom: 32px;
  padding-left: 16px;
  padding-top: 10px;
}
.card-hotels {
  margin-top: 0px;
  margin-bottom: 16px;
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  padding-left: 16px;
  padding-top: 10px;
}
.card-descriptions {
  margin-top: 0px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  padding-left: 16px;
  padding-top: 10px;
}
.why-us-card-2 {
  width: 573px;
  height: 220px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  margin: auto;
  margin-top: 24px;
  margin-bottom: 0px;
}
/* Deals and Discount Section  */
.deals {
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0px;
  max-width: 1400px;
}
.deal-1,
.deal-2,
.deal-3 {
  max-width: 1170px;
  height: 500px;
  border: 0px;
  border-radius: 16px;
  margin: auto;
  margin-top: 24px;
  border: 1px solid white;
}
.deal-1 {
  background-image: url(B9A2-Hero-Travel-main/Images/Group\ 39.png);
}
.deals-information {
  width: 60%;
  height: 24px;
  margin-left: 56px;
  margin-top: 48px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deals-information > img {
  height: 24px;
  width: 24px;
}
.deals-information p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.deal-2 {
  background-image: url(B9A2-Hero-Travel-main/Images/Group\ 40.png);
}
#deal-des-2 {
  margin-top: 1px;
}
.deal-2-3 {
  width: 60%;
  height: 24px;
  margin-left: 56px;
  margin-top: 50px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.deal-2-3 > img {
  height: 24px;
  width: 24px;
}
.deal-2-3 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
.deal-3 {
  background-image: url(B9A2-Hero-Travel-main/Images/Group\ 39.png);
}
.deal-2-4 {
  width: 60%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
  margin-left: 56px;
  margin-top: 40px;
}
.deal-2-4 > img {
  height: 24px;
  width: 24px;
}
.deal-2-4 p {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
}
#deal-des-3 {
  margin-top: 1px;
}
.deals-description {
  width: 580px;
  height: 390px;
  margin-top: 56px;
  margin-bottom: 56px;
  margin-left: 48%;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.deals-description .primary-button {
  margin-top: 30px;
  margin-left: 56px;
}
.deals-description-info {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  padding-left: 56px;
  /* margin-top: 90px; */
}
.deals-description-tittle {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  padding-left: 56px;
  padding-top: 20px;
}
.deals-description-price {
  color: var(--second-color);
  font-size: 20px;
  font-weight: 800;
  padding-left: 56px;
  padding-top: 20px;
}
/* A Simple Place Section  */
.a-simple-place {
  max-width: 1400px;
  height: 424px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0px;
  display: flex;
}
.a-simple-place-text {
  width: 50%;
  height: 100%;
}
.a-simple-place-video {
  width: 50%;
}
.place-tittle {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 0px;
  width: 550px;
}
.place-descriptions {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}
.a-simple-place ul {
  color: #131318;
  font-size: 16px;
  font-weight: 700;
  margin-top: 25px;
  margin-left: 18px;
  margin-bottom: 0px;
}
.a-simple-place ul > li {
  margin-bottom: 16px;
}
.a-simple-place #see-btn {
  margin-top: 50px;
}
/* Travel Tips Section  */
.travel-tips {
  max-width: 1400px;
  height: 200px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#travel-des {
  margin-left: 21%;
}
.travel-tips-image ul li img {
  height: 40px;
  width: 40px;
  display: block;
  margin-left: 25%;
}
#pass-img {
  margin-left: 40%;
}
.travel-tips-image > ul {
  margin-top: 50px;
  list-style: none;
  display: flex;
  gap: 50px;
}
.travel-tips-names {
  color: #5a5a5d;
  text-align: center;
  margin-top: 16px;
  font-size: 30px;
  font-weight: 700px;
}
/* News-latter Sections  */
.news-latter {
  max-width: 1400px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 0px;
  display: flex;
  gap: 20px;
}
.news-text {
  width: 50%;
}
.news-tittle {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0px;
}
.news-descriptions {
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
}
.news-text > form {
  margin-top: 16px;
}
.news-text > hr {
  width: 78%;
  opacity: 0.4;
  margin-left: 5%;
}
.news-text form > input {
  display: block;
  border: 0px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  color: rgba(19, 19, 24, 0.3);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  width: 80%;
  padding: 16px 30px;
}
.news-text > #subscribe {
  width: 89%;
  margin-top: 20px;
}
.news-photo {
  width: 50%;
  border: 0px;
  border-radius: 16px;
  background-image: url(B9A2-Hero-Travel-main/Images/news-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.news-photo > .background {
  width: 300px;
  height: 120px;
  transform: rotate(-19.628deg);
  border-radius: 16px;
  background: var(--second-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  margin-left: 381px;
}
.travel {
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.off {
  color: #fff;
  font-size: 32px;
  font-weight: 800;
}
/* Footer Sections Start */
footer {
  background-color: rgba(19, 19, 24, 0.05);
  width: 100%;
  height: 502px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}
.foot-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
/* #foot-tittle {
  position: relative;
} */
.foot-descriptions {
  color: #5a5a5d;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  width: 770px;
}
.foot-icons > ul {
  list-style: none;
  display: flex;
  margin-left: -100%;
  justify-content: center;
  align-items: center;
}
.foot-icons ul li img {
  height: 24px;
}
.copyrights > hr {
  width: 875px;
  opacity: 0.4;
}
.copyright {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin-top: 16px;
  margin-left: -7%;
}

/* Responsive Section  */
@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  .banner {
    margin: auto 20px;
    width: 90%;
    height: 483px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
  }
  .banner-tittle {
    font-size: 22px;
    font-weight: 800;
    margin-top: 77px;
  }
  .banner-description {
    font-size: 14px;
    font-weight: 400;
    width: 90%;
    overflow: hidden;
  }
  .finder {
    width: 80%;
    height: 240px;
    margin-top: -40px;
    padding-bottom: 50px;
    margin-bottom: 80px;
  }
  .finder > button {
    display: block;
    margin-top: 14px;
  }
  .finder .destination {
    width: 80%;
    margin-left: 32px;
  }
  .when {
    width: 80%;
    margin-left: 32px;
  }
  .select-type {
    width: 80%;
    margin-left: 32px;
  }
  .primary-button {
    width: 80%;
    margin-left: 32px;
  }
  /* Our Popular Tours Section  */
  .our-popular-tours {
    flex-direction: column;
    max-width: 482px;
    margin-top: -80px;
  }
  .a-simple-place-text {
    flex-direction: column;
  }
  .tours {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 800;
  }
  .tour-description {
    width: 491px;
    color: var(--primary-color);
    font-size: 14px;
    font-weight: 400px;
    margin-top: 16px;
  }
  .popular-tours > li{
    margin-top: 16px;
    width: 460px;
  }
  .our-popular-tours-description {
    width: 480px;
    margin-bottom: 16px;
  }
  .our-popular-tours  .primary-button{
    margin-bottom: 16px;
    margin-left: 0px;
  }
  .tour-image-section  > img {
    width: 480px;
  }
  /* Destnation Section  */
  .destination-tittle{
    color: var(--primary-color);
    font-size: 20px;
    margin-top: -80px;
  }
  .destination-description{
    font-size: 14px;
    max-width: 482px;
    margin-bottom: 0px;
  }
  .destination-img{
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-bottom: 0px;
  }
  .div-1{
    flex-direction: column;
    gap: 10px;
  }
  .div-1  div {
    max-width: 482px;
    background-size: cover;
    border-radius: 16px;
    margin: auto;
  }
  .div-2{
    flex-direction: column;
    gap: 10px;
  }
  .div-2 div {
    width: 482px;
    object-fit: cover;
    border-radius: 16px;
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .div-3{
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
  }
  .div-3 div {
    max-width: 482px;
    object-fit: cover;
    border-radius: 16px;
    margin: auto;
    background-size: cover;
  }
  /* Why Choose us Section  */
  .why-us-header{
    max-width: 482px;
    margin: auto;
    margin-top: 10px;
  }
  .why-us-tittle{
    font-size: 20px;
  }
  .why-us-description{
    font-size: 14px;
    max-width: 482px;
    margin-bottom: 0px;
  }
  .why-us-card-1{
    max-width: 482px;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
  }
  .card-1, .card-2{
    width: 100%;
    height: auto;
  }
  .why-us-card-2{
    max-width: 482px;
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  /* Deals SEction  */
  .deals{
    max-width: 482px;
  }
  .deals-description{
    margin: auto;
    margin-top: 80px;
    width: 80%;
  }
  .deals-description  #btn-first {
    margin-top: 1px;
  }
  #btn-second {
    margin-top: 1px;
  }
  #btn-third{
    margin-top: 1px;
  }
  .deals-information, .deal-2-3 , .deal-2-4{
    margin-left: 20px;
  }
  .deals-description-info , .deals-description-price, .deals-description-tittle{
    text-align: start;
    margin-left: -35px;
  }
  .deal-2-4{
    width: 65%;
    justify-content: space-between;
  }
  .deals-description button {
    position: relative;
    left: -35px;
  }
  /* Simple Place Sction  */
  .a-simple-place{
    flex-direction: column;
    max-width: 482px;
    height: 615px;
    gap: 0px;
  }
  .a-simple-place-text{
    width: 100%;
    height: 300px;
  }
  .place-tittle{
    font-size: 20px;
  }
  .place-descriptions{
    font-size: 14px;
    width:390px;
  }
  .a-simple-place-text ul {
    font-size: 14px;
    width: 390px;
    margin-bottom: 0px;
  }
  .a-simple-place-text > button {
    position: relative;
    top: -48px;
    left: -32px;
    margin-bottom: 0px;
  }
  .a-simple-place-video{
    width: 100%;
  }
  .a-simple-place-video iframe{
    height: 300px;
    border: 0px;
    border-radius: 16px;
    margin-top: 7px;
  }
  /* .Travel tips section  */
  .travel-tips{
    max-width: 482px;
  }
  #travel-tit{
    margin-bottom: 0px;
    posi
  }
  #travel-des{
    position: relative;
    top: -40px;
    left: 40px;
  }
  .travel-tips-image{
    width: 100%;
    position: relative;
    top: -120px;
  }
  .travel-tips-image ul {
    gap: 25px;
  }
  /* News Latter Section  */
  .news-latter{
    flex-direction: column;
    max-width: 484px;
    gap: 0px;
    margin-bottom: 0px;
  }
  .news-text{
    width: 100%;
    margin-bottom: 0px;
  }
  #subscribe {
    border: 1px solid red;
    margin-left: -1px;
  }
  .news-photo{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .news-photo > .background{
    width: 200px;
    height: 60px;
    margin-left: 284px;
    margin-bottom: 30px;
  }
  .travel{
    font-size: 11px;
  }
  .off{
    font-size: 17px;
  }
  /* Footer Section  */
  footer{
    margin-top: 10px;
  }
  .foot-descriptions{
    max-width: 470px;
  }
  .copyrights > hr {
    max-width: 384px;;
    opacity: 0.4;
  }
}
